@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');


body{
    background-color: rgb(246, 246, 246);
    
}

header{
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27vh;
}


 
.div{
    width: 85%;
    margin: 0  auto;
}

h1{
    font-weight: 600;
    
}

.icon{
    height: 24px;
    cursor: pointer;
    margin-top: 53px;
}

main{
    width: 85%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: -90px;
    
    
}

#search{
    border: none;
    border-radius: 5px;
    padding: 13px;
    width: 100%;
    text-indent: 60px;
}

#submit{
    position: absolute;
    margin-top:15px;
    margin-left: 21px;
    border-radius: 50%;
    padding: 0 12px;
    background-color: white;
    border: solid 1px rgb(104, 104, 104);
}


/* li of inserted items */

.all-inserts{
    width: 100%;
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
    color: rgb(110, 110, 110);
    box-shadow: 2px -2px 17px hsl(237, 14%, 26%);
    z-index: 2;
}

.inserting-elements{
    
    margin-left: -25px;
}

#ul-items{
    width: 100%;
   
}

.dragging{
    opacity: .5;
}

li{
    list-style: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 15px;
    display: flex;
    width: 99%;    
}

.filter-buttons{
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    color:rgb(104, 104, 104);
    font-weight: 600;
    box-shadow: 1px 1px 1px;
    cursor: pointer;
}


/* all li */
li:hover{
    cursor: grab;
}

/* input inside li */

li input[type="button"]{
    border: solid 1px rgb(104, 104, 104);
    border-radius: 50%;
    padding: 0 12px;
    background-color: white;
    
}

.gradient-click{
    background-image: url('../styles/images/icon-check.svg'), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}



/* span inside li  */

li span{
    margin-left: 25px;
}

/* image inside li */

li img{
    margin-left: auto;
    height: 15px;
    align-self: center;
}

li img:hover{
    cursor: pointer;
}

/* Clear copleted button */

#clear-all-button{
    cursor: pointer;
}



/* footer */

.footer{
    width: 80%;
    margin-bottom: 0;
}
 

.all:hover,
.active:hover,
.completed:hover{
    color: #62a4da;
}


@media(min-width: 1000px){
    
    header{
        height: 40vh;
    }

    .div{
        width: 50%;
        margin-top: 3%;
    }   

    main{
        margin-top: -140px;
    }

    #form{
    margin: auto;
    width: 58%;
    
}

    .all-inserts{
        width: 58%;
        margin: auto;
        margin-top: 40px;
    }


    .filter-buttons{
        width: 49%;
    }
    .aaa{
        display:inline-block;
        cursor: pointer;
        margin-top: -8px;
    }

}