@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');


header{
    background-image: url("./images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

.div{
    width: 90%;
}

h1{
    font-weight: 900;
}

img{
    height: 20px;
    margin-top: 25px;
}